article .content h2:before {
    content: "#";
    color: #2bbc8a;
    position: absolute;
    left: -1rem;
    top: -4px;
    font-size: 1.2rem;
    font-weight: bold;
}

article .content img {
    display: block;
    max-width: 100%;
    margin: 3rem auto;
}

article .content code {
    font-family: "Chalkboard", "comic sans", "PingFang SC", "Meslo LG", "sans-serif";
    color: #ffa5a5;
}

article .content pre code {
    font-family: "hermit", "operator", "Menlo", "Meslo LG", monospace;

    color: #f8f8f8;
}

article .content pre {
    background: #2d3a40;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    overflow-x: auto;
    margin: 0;
    padding: 8px;
}